@mixin hamburger-lines {
  position: absolute;
  right: 0.8rem;
  height: 0.15rem;
  transition: 0.4s;
  background: $white;
}

@mixin psuedo-element {
  content: "";
  display: block;
}

@mixin set-size($width, $height) {
  height: $height;
  width: $width;
}

@mixin section-divider($colour) {
  @include psuedo-element;
  height: 100px;
  transform: translateY(-2px);
  background: $colour;
}

@mixin list-reset {
  padding: 0;
  li {
    list-style: none;
  }
}

@mixin set-anim-fade($animation, $duration) {
  animation: $animation $duration ease-in-out;
  animation-fill-mode: forwards;
}
