/* -------------------------------------------------------------------------- */
/*                                   Colours                                  */
/* -------------------------------------------------------------------------- */
$white: #FFF;
$light-green: #F1F8F5;
$green: #A5D8C2;
$dark-green: #84AC9B;
$dark-blue: #1C1F33;
$light-grey: #e8e8e8;

/* -------------------------------------------------------------------------- */
/*                                    Fonts                                   */
/* -------------------------------------------------------------------------- */
$font-heading: "Quicksand", sans-serif;
$font-text: "Montserrat", sans-serif;
