/* -------------------------------------------------------------------------- */
/*                                   Colours                                  */
/* -------------------------------------------------------------------------- */
$white: #fff;
$light-green: #f1f8f5;
$green: #a5d8c2;
$dark-green: #84ac9b;
$dark-blue: #1c1f33;
$light-grey: #e8e8e8;

/* -------------------------------------------------------------------------- */
/*                                    Fonts                                   */
/* -------------------------------------------------------------------------- */
$font-heading: "Quicksand", sans-serif;
$font-text: "Montserrat", sans-serif;
$font-lg: clamp(3rem, 3vw, 4rem);
$font-md: clamp(1.3rem, 3vw, 2rem);
$font-sm: clamp(1rem, 3vw, 1.2rem);

/* -------------------------------------------------------------------------- */
/*                                 Breakpoints                                */
/* -------------------------------------------------------------------------- */
$tablet-screen-size: 768px;
$desktop-screen-size: 1366px;

/* -------------------------------------------------------------------------- */
/*                                     Nav                                    */
/* -------------------------------------------------------------------------- */
$side-nav-width : 380px;

