#slideshow-controls.start {
    animation: fade-up 1.5s ease-in-out;
    animation-fill-mode: forwards;
}

.tab-text.start {
    animation: fade-from-left 1.5s ease-in-out;
    animation-fill-mode: forwards;
}

.tab-picture.start {
    animation: fade-from-right 1.5s ease-in-out;
    animation-fill-mode: forwards;
}

.section-heading-bar.start {
    animation: heading 1s ease-in-out 0.7s;
    animation-fill-mode: forwards;
}

.section-heading.start {
    animation: fade-down 1s ease-in-out;
    animation-fill-mode: forwards;
}

.menu-tab.start {
    animation: fade-down 0.7s ease-in-out;
    animation-fill-mode: forwards;
}

.menu-item.start {
    animation: fade-down 0.7s ease-in-out;
    animation-fill-mode: forwards;
}

.menu-tab-indicator.start {
    animation: heading 0.7s ease-in-out;
    animation-fill-mode: forwards;
}

#home-section p {
    animation: fade-up 1s ease-in-out 3.5s;
    animation-fill-mode: forwards;
}

#animated-logo path {
    stroke-dasharray: 5166;
    stroke-dashoffset: 5166;
    animation: line-anim 3s ease forwards 0.5s;
}

#opening-hours.start{
    animation: fade-from-left 1s ease-in-out;
    animation-fill-mode: forwards;
}

#location.start{
    animation: fade-from-right 1s ease-in-out;
    animation-fill-mode: forwards;
}

#google-map.start{
    animation: fade-from-right 1.5s ease-in-out;
    animation-fill-mode: forwards;
}
#contact-section .contact-links.start{
    animation: fade-up 1.5s ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes bg-color {
    to {
        background: var(--green);
    }
}

@keyframes line-anim {

    25% {
        fill: transparent;
    }

    75% {
        fill: var(--green);
        stroke: var(--green);
    }

    99% {
        stroke-dasharray: 5166;
    }

    100% {
        stroke-dasharray: 0;
        stroke-dashoffset: 0;
        fill: var(--white);
        stroke: var(--white);
    }

}

@keyframes heading {

    to {
        width: clamp(3rem, 3vw, 4rem);
        opacity: 1;
    }
}

@keyframes fade-down {
    from {
        transform: translateY(-20%);

    }

    to {
        opacity: 1;
    }
}

@keyframes fade-up {
    from {
        transform: translateY(20%);
    }

    to {
        opacity: 1;
    }
}

@keyframes fade-from-left {
    from {
        transform: translateX(-20%);
    }

    to {
        opacity: 1;
    }
}


@keyframes fade-from-right {
    from {
        transform: translateX(20%);
    }

    to {
        opacity: 1;
    }
}
