/* 

Font face, weight and size, letter and line spacing

Nav/Headings
font-family: 'Quicksand', sans-serif; 

Text
font-family: 'Montserrat', sans-serif; 

*/

h1,
h2,
nav,
nav p,
.menu-tab {
    font-family: 'Quicksand', sans-serif;
}

p,
.menu-item {
    font-family: 'Montserrat', sans-serif;
}

.nav-link.active a {
    font-weight: normal;
}

.nav-link a {
    font-size: 2rem;
    font-weight: lighter;
}

.nav-link a:hover {
    font-weight: normal;
}

#home-section p {
    font-size: clamp(1rem, 3vw, 1.5rem);
    line-height: 3rem;
}

#call-to-action {
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: bold;
}

.circle {
    /* size of the icon */
    font-size: 1.5rem;

}

.section-heading {
    font-size: clamp(3rem, 3vw, 4rem);
}

.menu-tab {
    font-weight: lighter;
    font-size: clamp(1.3rem, 3vw, 2rem);
}

.menu-tab.active {
    font-weight: normal;
}

#contact-details h2 {
    font-size: clamp(1.5rem, 3vw, 2rem);
    
}

#contact-details i{
    font-size: 2rem;
}

.tab-text h2 {
    font-size: clamp(1.8rem, 3vw, 2.3rem);
}

.tab-text p {
    font-size: clamp(1rem, 3vw, 1.2rem);
    line-height: 2rem;
}