@import "mixin";
@import "variables";
@import "generic";
@import "navbar";

/* -------------------------------------------------------------------------- */
/*                                    Font                                    */
/* -------------------------------------------------------------------------- */
/* Font face, weight and size, letter and line spacing */

h1,
h2,
.menu-tab {
  font-family: $font-heading;
}

p {
  font-family: $font-text;
  font-size: $font-sm;
}

.circle {
  font-size: 1.5rem;
}

.section-heading {
  font-size: $font-lg;
}

/* -------------------------------------------------------------------------- */

#home-section p {
  font-size: clamp(1rem, 3vw, 1.5rem);
  line-height: 3rem;
}

/* -------------------------------------------------------------------------- */

.tab-text h2 {
  font-size: $font-md;
}

.tab-text p {
  line-height: 2rem;
}

/* -------------------------------------------------------------------------- */

.menu-tab {
  font-weight: lighter;
  font-size: $font-md;
}

.menu-tab.active {
  font-weight: normal;
}

/* -------------------------------------------------------------------------- */

#contact-details h2 {
  font-size: $font-md;
}

#contact-details i {
  font-size: 2rem;
}

/* -------------------------------------------------------------------------- */
/*                                   Colour                                   */
/* -------------------------------------------------------------------------- */

.section-heading-bar {
  background: $green;
}

/* -------------------------------------------------------------------------- */

svg path {
  stroke: $green;
}

.circle {
  background: $green;

  i {
    color: $white;
  }
}

/* -------------------------------------------------------------------------- */

.dot {
  background: $white;

  &.active {
    background: $green;
  }
}

/* -------------------------------------------------------------------------- */

.menu-tab.active {
  color: $green;
}

.menu-tab-indicator {
  background: $green;
}

/* -------------------------------------------------------------------------- */

#opening-hours::before {
  background: $light-grey;
}

#opening-hours::after {
  background: $light-grey;
}

#contact-details i {
  color: $dark-blue;
}

/* -------------------------------------------------------------------------- */

footer {
  background: $light-green;
}

@media (hover: hover) {
  .circle:hover {
    background: $dark-green;
  }

  #hamburger:hover {
    background: $dark-green;
  }

  .dot:hover {
    background: $green;
  }

  .menu-tab:hover {
    color: $dark-green;
  }
}

/* -------------------------------------------------------------------------- */
/*                                  Animation                                 */
/* -------------------------------------------------------------------------- */

#slideshow-controls.start {
  animation: fade-up 1.5s ease-in-out;
  animation-fill-mode: forwards;
}

.tab-text.start {
  animation: fade-from-left 1.5s ease-in-out;
  animation-fill-mode: forwards;
}

.tab-picture.start {
  animation: fade-from-right 1.5s ease-in-out;
  animation-fill-mode: forwards;
}

/* -------------------------------------------------------------------------- */

.section-heading-bar.start {
  animation: heading 1s ease-in-out 0.7s;
  animation-fill-mode: forwards;
}

.section-heading.start {
  animation: fade-down 1s ease-in-out;
  animation-fill-mode: forwards;
}
/* -------------------------------------------------------------------------- */

.menu-tab.start {
  animation: fade-down 0.7s ease-in-out;
  animation-fill-mode: forwards;
}

.menu-item.start {
  animation: fade-down 0.7s ease-in-out;
  animation-fill-mode: forwards;
}

.menu-tab-indicator.start {
  animation: heading 0.7s ease-in-out;
  animation-fill-mode: forwards;
}

/* -------------------------------------------------------------------------- */

#home-section {
  animation: bg-color 3s ease forwards 2.5s;
}

#home-section p {
  animation: fade-down 1s ease-in-out 3.5s;
  animation-fill-mode: forwards;
}

#animated-logo path {
  stroke-dasharray: 5166;
  stroke-dashoffset: 5166;
  animation: line-anim 3s ease forwards 0.5s;
}

/* -------------------------------------------------------------------------- */

#opening-hours.start {
  @include set-anim-fade(fade-from-left, 1s);
}

#location.start {
  @include set-anim-fade(fade-from-right, 1s);
}

#google-map.start {
  @include set-anim-fade(fade-from-right, 1.5s);
}
#contact-section .contact-links.start {
  @include set-anim-fade(fade-up, 1.5s);
}

/* -------------------------------------------------------------------------- */

@keyframes bg-color {
  to {
    background: $green;
  }
}

@keyframes line-anim {
  25% {
    fill: transparent;
  }

  75% {
    fill: $green;
    stroke: $green;
  }

  99% {
    stroke-dasharray: 5166;
  }

  100% {
    stroke-dasharray: 0;
    stroke-dashoffset: 0;
    fill: $white;
    stroke: $white;
  }
}

@keyframes heading {
  to {
    width: clamp(3rem, 3vw, 4rem);
    opacity: 1;
  }
}

@keyframes fade-down {
  from {
    transform: translateY(-20%);
  }

  to {
    opacity: 1;
  }
}

@keyframes fade-up {
  from {
    transform: translateY(20%);
  }

  to {
    opacity: 1;
  }
}

@keyframes fade-from-left {
  from {
    transform: translateX(-20%);
  }

  to {
    opacity: 1;
  }
}

@keyframes fade-from-right {
  from {
    transform: translateX(20%);
  }

  to {
    opacity: 1;
  }
}

/* -------------------------------------------------------------------------- */
/*                          Section Diagonal Divider                          */
/* -------------------------------------------------------------------------- */

.section {
  overflow: hidden;

  &:not(:first-child) {
    min-height: 100vh;
  }

  &:nth-child(2) {
    &::before {
      animation: bg-color 3s ease forwards 2.5s;
    }
  }
  &:nth-child(odd) {
    background: $white;

    &:not(:first-child) {
      &::before {
        @include section-divider($light-green);
        clip-path: polygon(0% 0, 100% 100%, 100% 0%);
      }
    }
  }
  &:nth-child(even) {
    background: $light-green;

    &::before {
      @include section-divider($white);
      clip-path: polygon(100% 0, 0 0, 0 100%);
    }
  }
}

/* -------------------------------------------------------------------------- */
/*                                Home section                                */
/* -------------------------------------------------------------------------- */

#home-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  animation: bg-color 3s ease forwards 2.5s;
  min-height: 80vh;

  p {
    text-align: center;
    padding-top: 2rem;
    opacity: 0;
  }
}

#animated-logo {
  display: block;
  margin: auto;
}

/* -------------------------------------------------------------------------- */
/*                                About Section                               */
/* -------------------------------------------------------------------------- */

.slideshow-tab {
  display: none;
  flex-wrap: wrap-reverse;

  &.active {
    display: flex;
  }
}

.tab-picture {
  max-width: 100%;
  height: auto;
  box-shadow: 2px 7px 15px -8px #000000bf;
  margin: auto;
  opacity: 0;
}

.tab-text {
  opacity: 0;

  p {
    min-height: 12rem;
    margin-right: 1rem;
  }
}

#slideshow-controls {
  padding: 1rem 2rem 4rem;
  display: flex;
  justify-content: space-between;
  margin: auto;
  opacity: 0;
}

#dots {
  display: flex;
  align-items: center;
}

.dot {
  @include set-size(20px, 20px);

  &:nth-child(even) {
    margin: 0 1rem;
  }
}

@media (min-width: $desktop-screen-size) {
  #slideshow-controls {
    padding: 4rem;
  }

  .slideshow-tab.active {
    flex-wrap: nowrap;
  }

  .tab-picture {
    transform: perspective(1500px) rotateY(-30deg);
  }

  .tab-text {
    align-self: center;
  }
}

/* -------------------------------------------------------------------------- */
/*                                Menu Section                                */
/* -------------------------------------------------------------------------- */
#menu {
  min-height: 500px;
}

.menu-tab {
  cursor: pointer;
  opacity: 0;
}

.menu-list {
  display: none;
  @include list-reset;

  &.active {
    display: block;
  }
}

.menu-item {
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
  opacity: 0;

  &:not(:last-child) {
    border-bottom: 1px solid $light-grey;
  }
}

#menu-tabs {
  display: grid;
  justify-items: center;
  padding-bottom: 1rem;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 0.5fr;
  @include list-reset;
}

.menu-tab-indicator {
  @include set-size(8%, 0.3rem);
  border-radius: 1rem;
  align-self: end;
  opacity: 0;
}

/* -------------------------------------------------------------------------- */
/*                               Contact Section                              */
/* -------------------------------------------------------------------------- */
#contact-section {
  .container {
    padding: 1rem;
  }

  .contact-links {
    padding: 2rem;
    opacity: 0;
  }
}

#contact-details {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  div {
    text-align: center;
    opacity: 0;
  }

  h2 {
    display: inline-block;
    margin: 0;
  }

  i {
    padding-right: 1rem;
  }

  hr {
    margin: 2rem 0;
  }
}

#google-map {
  @include set-size(100%, 400px);
  border: none;
  margin: 2rem 0rem;
  opacity: 0;
}

/* -------------------------------------------------------------------------- */
/*                                Media queries                               */
/* -------------------------------------------------------------------------- */

/* --------------------------------- Tablet --------------------------------- */

@media (min-width: $tablet-screen-size) {
  .container {
    max-width: 720px;
  }

  #contact-details {
    flex-direction: row;

    hr {
      margin: 0 2rem;
    }
  }
}

/* --------------------------------- Desktop -------------------------------- */

@media (min-width: $desktop-screen-size) {
  .container {
    max-width: 1140px;
  }

  #animated-logo {
    width: 70%;
  }
}
