/* -------------------------------------------------------------------------- */
/*                                   Colours                                  */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/*                                    Fonts                                   */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/*                                 Breakpoints                                */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/*                                     Nav                                    */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/*                                   Generic                                  */
/* -------------------------------------------------------------------------- */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: #fff;
  color: #1c1f33;
}

.container {
  width: 100%;
  margin: auto;
  padding: 1rem;
}

.section-heading {
  margin-bottom: 4rem;
  text-align: center;
  opacity: 0;
}

.section-heading-bar {
  content: "";
  display: block;
  height: 0.5rem;
  width: 0;
  margin: 4rem auto 5rem;
  border-radius: 1rem;
}

.contact-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.contact-link {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.circle, .hamburger, .carousel-indicator {
  position: relative;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  -webkit-box-shadow: 2px 7px 15px -8px #000000bf;
          box-shadow: 2px 7px 15px -8px #000000bf;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

@media (hover: hover) {
  .circle:hover, .hamburger:hover, .carousel-indicator:hover {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

.circle i, .hamburger i, .carousel-indicator i {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

/* -------------------------------------------------------------------------- */
/*                                     Nav                                    */
/* -------------------------------------------------------------------------- */
.side-nav {
  position: relative;
  z-index: 1;
  font-family: "Quicksand", sans-serif;
}

.side-nav ul {
  width: 100%;
  padding: 0;
}

.side-nav ul li {
  list-style: none;
}

.side-nav p {
  font-family: "Quicksand", sans-serif;
}

.side-nav .contact-links {
  width: 30vh;
}

#nav-content {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  height: 100vh;
  width: 380px;
  padding: 2rem 0;
  -webkit-box-shadow: 4px 0px 14px -5px #0000001f;
          box-shadow: 4px 0px 14px -5px #0000001f;
  background: #fff;
}

#nav-content.toggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

@media (min-width: 1366px) {
  #nav-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #nav-content.toggle {
    width: 380px;
  }
}

.navbar-brand {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.nav-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav-item.active::after {
  background: #a5d8c2;
}

.nav-item.active .nav-link {
  font-weight: normal;
  color: #a5d8c2;
}

.nav-item:last-child a {
  border: none;
}

.nav-item.active::after {
  content: "";
  display: block;
  height: 50px;
  width: 4px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  border-radius: 4px 0 0 4px;
}

.nav-link {
  font-size: clamp(1.3rem, 3vw, 2rem);
  font-weight: lighter;
  width: calc(100% - 4px);
  padding: 1rem 0;
  margin: 0 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  border-bottom: 1px solid #e8e8e8;
  color: #1c1f33;
}

@media (hover: hover) {
  .nav-link:hover {
    font-weight: normal;
    color: #84ac9b;
  }
}

/* -------------------------------------------------------------------------- */
/*                               Hamburger Menu                               */
/* -------------------------------------------------------------------------- */
.hamburger {
  position: fixed;
  top: 1rem;
  right: 1rem;
}

@media (min-width: 1366px) {
  .hamburger {
    display: none;
  }
}

.hamburger .top-line {
  position: absolute;
  right: 0.8rem;
  height: 0.15rem;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  background: #fff;
  top: 1.15rem;
  width: 1.5rem;
}

.hamburger .bottom-line {
  position: absolute;
  right: 0.8rem;
  height: 0.15rem;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  background: #fff;
  bottom: 1.15rem;
  width: 0.75rem;
}

.hamburger.active .top-line {
  -webkit-transform: rotate(-45deg) translate(-4px, 5px);
          transform: rotate(-45deg) translate(-4px, 5px);
}

.hamburger.active .bottom-line {
  width: 1.5rem;
  -webkit-transform: rotate(45deg) translate(-3px, -3px);
          transform: rotate(45deg) translate(-3px, -3px);
}

@media (min-width: 1366px) {
  main {
    margin-left: 380px;
  }
}

/* -------------------------------------------------------------------------- */
/*                                    Font                                    */
/* -------------------------------------------------------------------------- */
/* Font face, weight and size, letter and line spacing */
h1,
h2,
.menu-tab {
  font-family: "Quicksand", sans-serif;
}

p {
  font-family: "Montserrat", sans-serif;
  font-size: clamp(1rem, 3vw, 1.2rem);
}

.circle, .hamburger, .carousel-indicator {
  font-size: 1.5rem;
}

.section-heading {
  font-size: clamp(3rem, 3vw, 4rem);
}

/* -------------------------------------------------------------------------- */
#home-section p {
  font-size: clamp(1rem, 3vw, 1.5rem);
  line-height: 3rem;
}

/* -------------------------------------------------------------------------- */
.tab-text h2 {
  font-size: clamp(1.3rem, 3vw, 2rem);
}

.tab-text p {
  line-height: 2rem;
}

/* -------------------------------------------------------------------------- */
.menu-tab {
  font-weight: lighter;
  font-size: clamp(1.3rem, 3vw, 2rem);
}

.menu-tab.active {
  font-weight: normal;
}

/* -------------------------------------------------------------------------- */
#contact-details h2 {
  font-size: clamp(1.3rem, 3vw, 2rem);
}

#contact-details i {
  font-size: 2rem;
}

/* -------------------------------------------------------------------------- */
/*                                   Colour                                   */
/* -------------------------------------------------------------------------- */
.section-heading-bar {
  background: #a5d8c2;
}

/* -------------------------------------------------------------------------- */
svg path {
  stroke: #a5d8c2;
}

.circle, .hamburger, .carousel-indicator {
  background: #a5d8c2;
}

.circle i, .hamburger i, .carousel-indicator i {
  color: #fff;
}

/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
.menu-tab.active {
  color: #a5d8c2;
}

.menu-tab-indicator {
  background: #a5d8c2;
}

/* -------------------------------------------------------------------------- */
#opening-hours::before {
  background: #e8e8e8;
}

#opening-hours::after {
  background: #e8e8e8;
}

#contact-details i {
  color: #1c1f33;
}

/* -------------------------------------------------------------------------- */
footer {
  background: #f1f8f5;
}

@media (hover: hover) {
  .circle:hover, .hamburger:hover, .carousel-indicator:hover {
    background: #84ac9b;
  }
  #hamburger:hover {
    background: #84ac9b;
  }
  .menu-tab:hover {
    color: #84ac9b;
  }
}

/* -------------------------------------------------------------------------- */
/*                                  Animation                                 */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
.section-heading-bar.start {
  -webkit-animation: heading 1s ease-in-out 0.7s;
          animation: heading 1s ease-in-out 0.7s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.section-heading.start {
  -webkit-animation: fade-down 1s ease-in-out;
          animation: fade-down 1s ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

/* -------------------------------------------------------------------------- */
.menu-tab.start {
  -webkit-animation: fade-down 0.7s ease-in-out;
          animation: fade-down 0.7s ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.menu-item.start {
  -webkit-animation: fade-down 0.7s ease-in-out;
          animation: fade-down 0.7s ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.menu-tab-indicator.start {
  -webkit-animation: heading 0.7s ease-in-out;
          animation: heading 0.7s ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

/* -------------------------------------------------------------------------- */
#home-section {
  -webkit-animation: bg-color 3s ease forwards 2.5s;
          animation: bg-color 3s ease forwards 2.5s;
}

#home-section p {
  -webkit-animation: fade-down 1s ease-in-out 3.5s;
          animation: fade-down 1s ease-in-out 3.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

#animated-logo path {
  stroke-dasharray: 5166;
  stroke-dashoffset: 5166;
  -webkit-animation: line-anim 3s ease forwards 0.5s;
          animation: line-anim 3s ease forwards 0.5s;
}

/* -------------------------------------------------------------------------- */
#opening-hours.start {
  -webkit-animation: fade-from-left 1s ease-in-out;
          animation: fade-from-left 1s ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

#location.start {
  -webkit-animation: fade-from-right 1s ease-in-out;
          animation: fade-from-right 1s ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

#google-map.start {
  -webkit-animation: fade-from-right 1.5s ease-in-out;
          animation: fade-from-right 1.5s ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

#contact-section .contact-links.start {
  -webkit-animation: fade-up 1.5s ease-in-out;
          animation: fade-up 1.5s ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

/* -------------------------------------------------------------------------- */
@-webkit-keyframes bg-color {
  to {
    background: #a5d8c2;
  }
}
@keyframes bg-color {
  to {
    background: #a5d8c2;
  }
}

@-webkit-keyframes line-anim {
  25% {
    fill: transparent;
  }
  75% {
    fill: #a5d8c2;
    stroke: #a5d8c2;
  }
  99% {
    stroke-dasharray: 5166;
  }
  100% {
    stroke-dasharray: 0;
    stroke-dashoffset: 0;
    fill: #fff;
    stroke: #fff;
  }
}

@keyframes line-anim {
  25% {
    fill: transparent;
  }
  75% {
    fill: #a5d8c2;
    stroke: #a5d8c2;
  }
  99% {
    stroke-dasharray: 5166;
  }
  100% {
    stroke-dasharray: 0;
    stroke-dashoffset: 0;
    fill: #fff;
    stroke: #fff;
  }
}

@-webkit-keyframes heading {
  to {
    width: clamp(3rem, 3vw, 4rem);
    opacity: 1;
  }
}

@keyframes heading {
  to {
    width: clamp(3rem, 3vw, 4rem);
    opacity: 1;
  }
}

@-webkit-keyframes fade-down {
  from {
    -webkit-transform: translateY(-20%);
            transform: translateY(-20%);
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-down {
  from {
    -webkit-transform: translateY(-20%);
            transform: translateY(-20%);
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fade-up {
  from {
    -webkit-transform: translateY(20%);
            transform: translateY(20%);
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-up {
  from {
    -webkit-transform: translateY(20%);
            transform: translateY(20%);
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fade-from-left {
  from {
    -webkit-transform: translateX(-20%);
            transform: translateX(-20%);
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-from-left {
  from {
    -webkit-transform: translateX(-20%);
            transform: translateX(-20%);
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fade-from-right {
  from {
    -webkit-transform: translateX(20%);
            transform: translateX(20%);
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-from-right {
  from {
    -webkit-transform: translateX(20%);
            transform: translateX(20%);
  }
  to {
    opacity: 1;
  }
}

/* -------------------------------------------------------------------------- */
/*                          Section Diagonal Divider                          */
/* -------------------------------------------------------------------------- */
.section {
  overflow: hidden;
}

.section:not(:first-child) {
  min-height: 100vh;
}

.section:nth-child(2)::before {
  -webkit-animation: bg-color 3s ease forwards 2.5s;
          animation: bg-color 3s ease forwards 2.5s;
}

.section:nth-child(odd) {
  background: #fff;
}

.section:nth-child(odd):not(:first-child)::before {
  content: "";
  display: block;
  height: 100px;
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
  background: #f1f8f5;
  -webkit-clip-path: polygon(0% 0, 100% 100%, 100% 0%);
          clip-path: polygon(0% 0, 100% 100%, 100% 0%);
}

.section:nth-child(even) {
  background: #f1f8f5;
}

.section:nth-child(even)::before {
  content: "";
  display: block;
  height: 100px;
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
  background: #fff;
  -webkit-clip-path: polygon(100% 0, 0 0, 0 100%);
          clip-path: polygon(100% 0, 0 0, 0 100%);
}

/* -------------------------------------------------------------------------- */
/*                                Home section                                */
/* -------------------------------------------------------------------------- */
#home-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-animation: bg-color 3s ease forwards 2.5s;
          animation: bg-color 3s ease forwards 2.5s;
  min-height: 80vh;
}

#home-section p {
  text-align: center;
  padding-top: 2rem;
  opacity: 0;
}

#animated-logo {
  display: block;
  margin: auto;
}

/* -------------------------------------------------------------------------- */
/*                                About Section                               */
/* -------------------------------------------------------------------------- */
.slideshow-tab {
  display: none;
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
}

.slideshow-tab.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (min-width: 1366px) {
  .slideshow-tab.active {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.tab-picture {
  max-width: 100%;
  height: auto;
  -webkit-box-shadow: 2px 7px 15px -8px #000000bf;
          box-shadow: 2px 7px 15px -8px #000000bf;
  margin: auto;
  opacity: 0;
}

@media (min-width: 1366px) {
  .tab-picture {
    -webkit-transform: perspective(1500px) rotateY(-30deg);
            transform: perspective(1500px) rotateY(-30deg);
  }
}

.tab-picture.start {
  -webkit-animation: fade-from-right 1.5s ease-in-out;
          animation: fade-from-right 1.5s ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.tab-container {
  opacity: 0;
}

.tab-container.start {
  -webkit-animation: fade-from-left 1.5s ease-in-out;
          animation: fade-from-left 1.5s ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@media (min-width: 1366px) {
  .tab-container {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

.tab-description {
  min-height: 12rem;
  margin-right: 1rem;
}

.slideshow-controls {
  padding: 1rem 2rem 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: auto;
  opacity: 0;
}

@media (min-width: 1366px) {
  .slideshow-controls {
    padding: 4rem;
  }
}

.slideshow-controls.start {
  -webkit-animation: fade-up 1.5s ease-in-out;
          animation: fade-up 1.5s ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.carousel-indicators {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.carousel-indicator {
  background: #fff;
  height: 20px;
  width: 20px;
}

.carousel-indicator:nth-child(even) {
  margin: 0 1rem;
}

.carousel-indicator.active {
  background: #a5d8c2;
}

.carousel-indicator:hover {
  background: #a5d8c2;
}

/* -------------------------------------------------------------------------- */
/*                                Menu Section                                */
/* -------------------------------------------------------------------------- */
#menu {
  min-height: 500px;
}

.menu-tab {
  cursor: pointer;
  opacity: 0;
}

.menu-list {
  display: none;
  padding: 0;
}

.menu-list li {
  list-style: none;
}

.menu-list.active {
  display: block;
}

.menu-item {
  padding: 0 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  opacity: 0;
}

.menu-item:not(:last-child) {
  border-bottom: 1px solid #e8e8e8;
}

#menu-tabs {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  padding-bottom: 1rem;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: 1fr 0.5fr;
      grid-template-rows: 1fr 0.5fr;
  padding: 0;
}

#menu-tabs li {
  list-style: none;
}

.menu-tab-indicator {
  height: 0.3rem;
  width: 8%;
  border-radius: 1rem;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  opacity: 0;
}

/* -------------------------------------------------------------------------- */
/*                               Contact Section                              */
/* -------------------------------------------------------------------------- */
#contact-section .container {
  padding: 1rem;
}

#contact-section .contact-links {
  padding: 2rem;
  opacity: 0;
}

#contact-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

#contact-details div {
  text-align: center;
  opacity: 0;
}

#contact-details h2 {
  display: inline-block;
  margin: 0;
}

#contact-details i {
  padding-right: 1rem;
}

#contact-details hr {
  margin: 2rem 0;
}

#google-map {
  height: 400px;
  width: 100%;
  border: none;
  margin: 2rem 0rem;
  opacity: 0;
}

/* -------------------------------------------------------------------------- */
/*                                Media queries                               */
/* -------------------------------------------------------------------------- */
/* --------------------------------- Tablet --------------------------------- */
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
  #contact-details {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  #contact-details hr {
    margin: 0 2rem;
  }
}

/* --------------------------------- Desktop -------------------------------- */
@media (min-width: 1366px) {
  .container {
    max-width: 1140px;
  }
  #animated-logo {
    width: 70%;
  }
}
/*# sourceMappingURL=main.css.map */