/* 
Colours
#FFF    - White
#F1F8F5 - Light Green
#A5D8C2 - Green
#84AC9B - Dark Green
#1C1F33 - Dark Blue


Fonts
font-family: 'Quicksand', sans-serif; - Nav/Headings
font-family: 'Montserrat', sans-serif; - Text
*/

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #F1F8F5;
    margin: 0;
}

h1,
h2,
nav,
nav p,
.tab-title {
    font-family: 'Quicksand', sans-serif;
}

p,
#menu-section li {
    font-family: 'Montserrat', sans-serif;
}

.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}


/* Nav */
nav {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: fixed;
    height: 100%;
    width: 380px;
    background-color: #FFF;
    box-shadow: 4px 0px 14px -5px #0000001f;
}

.logo {
    align-self: center;
}

nav p {
    align-self: center;
}

nav ul {
    padding: 0;
}

nav li,
#menu-section li {
    list-style: none;
    display: flex;
    justify-content: space-between;
}


/* Nav Active */
nav li.nav-active::after {
    content: "";
    display: block;
    height: 50px;
    width: 4px;
    align-self: center;
    border-radius: 4px 0 0 4px;
    background-color: #A5D8C2;
}

.nav-active>a {
    font-weight: normal;
    color: #A5D8C2;
}

nav li a {
    width: 90%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    display: flex;
    justify-content: center;
    color: #1C1F33;
    text-decoration: none;
    font-size: 2rem;
    font-weight: lighter;
    border-bottom: 1px solid #E8E8E8;
}


nav li:last-child>a {
    border: none;
}

nav li a:hover {
    font-weight: normal;
    color: #84AC9B;
}












.contact-links {
    align-self: center;
    width: 50%;
    display: flex;
    justify-content: space-around;
}

.contact-links>div {
    align-items: center;
    display: flex;
    flex-direction: column;
}











main {
    margin-left: 380px;
}

section {
    min-height: 100vh;
}

#home-section {
    background-image: url("../images/banner-bg.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #FFF;
    opacity: 0.8;
}

#home-section h1 {
    font-size: 3rem;
    letter-spacing: 0.2rem;
}

#home-section p {
    font-size: 1.3rem;
    line-height: 3rem;
    padding-bottom: 2rem;
}

#call-to-action {
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: bold;
    background: none;
    border: 0.3em solid #FFF;
    border-radius: 2rem;
    color: #FFF;
    padding: 1rem 2rem;
    outline: none;

    /* Smooth grow transition */
    transition: all .2s ease-in-out;
}

#call-to-action:hover {
    background: #FFF;
    color: #000;
    transform: scale(1.1);
}


























.circle {
    position: relative;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #A5D8C2;
    font-size: 1.5rem;
    box-shadow: 4px 0px 14px -5px #0000001f;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.circle:hover {
    background-color: #84AC9B;
    transform: scale(1.3);
}

.circle i {
    color: #FFF;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}




/* test */
section h1 {
    margin: 0;
}








/* Menu Section */

#menu-section li {
    border-bottom: 1px solid #0000001f;
}








/* Contact Section */
#location {
    display: flex;
}

#opening-hours h2 {
    font-size: clamp(1rem, 10vw, 2rem);
}

#opening-hours::before,
#opening-hours::after {
    content: "";
    display: block;
    height: 1px;
    background-color: #E8E8E8;
}



#contact-section .container {
    display: grid;
    grid-template-rows: max-content 1fr 1fr 1fr;
}






























/* Media queries */


/* Mobile */
@media (min-width: 360px) {
    .container {
        max-width: 540px;
    }
}







/* Tablet */
@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }

}







/* Desktop */
@media (min-width: 1366px) {
    .container {
        max-width: 1140px;
    }
}



























/*  */

#image-tabs {
    display: flex;
    justify-content: space-between;
}



#image-tabs img {
    filter: brightness(70%);
    cursor: pointer;
    transition: all .5s ease-in-out;

}

#image-tabs img:hover {
    filter: brightness(90%);
}

.image-tab {
    position: relative;
}



.tab-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    margin: 0;

    text-align: center;
    font-size: 1.5rem;
    color: #FFF;
}

.tab-title::after {
    content: "";
    display: block;

    margin-top: 0.5rem;
    height: 0.3rem;

    background-color: #A5D8C2;


}

.tab-info {
    display: none;
}

.expanded-image {
    position: relative;
    max-width: 1440px;
    margin: auto;
}

#image-text {
    position: absolute;
    bottom: 20%;
    right: 0;

    padding: 3rem;
    width: 50%;
    background-color: #A5D8C2;
}